extends layout

block content
 div.headerContent
  h1.title #{siteTitle} 
  div.searchInput
   form(method='GET' action='/search')
    input#search(type='text' placeholder='Search for a job' name='keyword')
    button#searchButton Search
 h3.websiteTitle Jobs found on Posao.hr
 ul.posaoList
  for val in title
   li.listItems
    h4= val.title
    h4= val.company
    h4= val.location
    h4= val.deadline
    a.link(href= val.link)= 'Apply'
 h3.websiteTitle Jobs found on MojPosao.net
 ul.mojPosaoList
  for val in titleTwo
   li.listItems
    h4= val.title
    h4= val.company
    h4= val.location
    h4= val.deadline
    a.link(href= val.link)= 'Apply'



